root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,yml,yaml,md}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.cs]
# Namespaces and usings
csharp_using_directive_placement = outside_namespace:suggestion
dotnet_sort_system_directives_first = true

# Naming
dotnet_naming_rule.private_fields_underscore.severity = suggestion
dotnet_naming_rule.private_fields_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_underscore.style = underscore_prefix
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_style.underscore_prefix.required_prefix = _
dotnet_naming_style.underscore_prefix.capitalization = camel_case

# Style
csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:suggestion
dotnet_style_prefer_conditional_expression_over_return = true:suggestion
